<%- include('partials/header.ejs')%>

<div class="container">

  <h1 class="mt-4">Product List</h1>
  <a href="/products/new">Add product</a>
        <br>
      <form action="/products" method="POST">
        <label for="category" class="mt-2"><h6>Sort by:</h6></label>
        <select name="category" id="category">
            <option value="groceries">Groceries</option>
            <option value="utensils">Utensils</option>
            <option value="medical">Medical</option>
            <option value="lifestyle">Lifestyle</option>
            <option value="toiletries">Toiletries</option>
        </select>
        <button type="submit" class="btn btn-primary btn-sm">Sort</button>
      </form>

        <div class="table-responsive mt-3">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Category</th>
                <th scope="col">Price (#)</th>
                <th scope="col">Description</th>
                <th scope="col">In Stock</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                
              <% var i = 1 %>

              <% products.forEach((product)=>{%>

              <tr>
                <td><%= i++ %></td>
                <td><%= product.name %></td>
                <td><%= product.category %></td>
                <td><%= product.price %></td>
                <td><%= product.description %></td>
                <td><%= product.stock %></td>
                <td>
                  <!-- <a href="/students/view"class="px-1">View</a> -->
                  <a href="/products/edit/<%= product.id %>" class="px-1">Edit</a>
                  <a href="/products/delete/<%= product.id %>" class="px-1">Delete</a>
                </td>
              </tr>   
              
              <% } )%>              
             
            </tbody>
          </table>
        </div>

</div>

<%- include('partials/footer.ejs')%>
